# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
logs

# Conversation authoring and export artifacts
/authoring/
/dist/
/*_generated/

# Files from Forge MDK
forge*changelog.txt
*.log
